*{
    margin: 0;
    padding: 0;
    font-family: sans-serif ;
    font-family: 'comfortaa' , sans-serif;
    -webkit-user-select: none;
    scroll-behavior: smooth; 
}
::-webkit-scrollbar{
    width: 7px;
    background-color: #afffffb1;
}
::-webkit-scrollbar-thumb{
    width: 7px;
    background-color: #48a90f;
    border-radius: 2px;
}
nav{
    display:flex;
    position:fixed;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    background-color:rgba(255, 255, 255, 0.705);
    -webkit-backdrop-filter: blur(30px);
    width: 100%;
    z-index: 1;
}
.logo{
    display: flex;
    align-items: center;
}
i{
    font-size: 30px;
    color:#1f733a;
}
.logo h3{
   color: #2c5539;
   font-size: 30px;
}
.logo{
    text-decoration: none;
}
.nav a {
    text-decoration: none;
    color: #1f733a;
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
    padding: 13px;
    transform: all 0.1s ease;
}
.nav a:hover {
    border: none;
    background-color: #108134;
    color: aliceblue;
    border-radius: 50px;
}
.homepage{
    background:url(img21.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    height: 100vh;
    display: flex;
    align-items: center;
}
.content{
    margin-left: 100px;
}
.content h2{
    font-size: 40px;
}
.content h1{
    color:#FF8000;
    font-size: 100px;
    margin: 30px 0;
    text-shadow:0 0 100px #FF8000;
}
.content button{
    margin-top: 100px;
    height: 70px;
    width: 190px;
    border: none;
    background-color: #FF8000;
    color: aliceblue;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 1000;
    cursor: pointer;
    transition: all 0.3s ease;
}
.content button:hover{
    box-shadow: 0 10px 50px 5px #ff880077;
}

.section2{
    background-color: white;
    box-shadow: 0 -150px 80px 80px rgb(255, 255, 255);
    display: flexbox;
    margin-bottom: 50px;
}
.header1{
    width: 80%;
    margin-left: 10px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-top: 70px;
}
.header1 button{
    height: 70px;
    width: 180px;
    background-color: #3fa603;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.categores{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    margin-top: 50px;
}
.categores .item1 {
    width: 19%;
    background-color: #f2b7051e;
    border-radius:10px;
    cursor: pointer;
}
.categores .item1:hover{
    background-color: #f2b70549;
}
.categores .item2 {
    width: 19%;
    background-color: #f2b7051e;
    border-radius:10px;
    cursor: pointer;
}
.categores .item2:hover{
    background-color: #f2b70549;
}
.categores .item3 {
    width: 19%;
    background-color: #f2b7051e;
    border-radius:10px;
    cursor: pointer;
}
.categores .item3:hover{
    background-color: #eef20567;
}
.categores .item4 {
    width: 19%;
    background-color: #f28b0521;
    border-radius:10px;
    cursor: pointer;
}
.categores .item4:hover{
    background-color: #f28b053f;
}
.categores .item5 {
    width: 19%;
    background-color: #d916040e;
    border-radius:10px;
    cursor: pointer;
}
.categores .item5:hover{
    background-color: #d9160423;
}
.section2 img{
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}
.section2 h3{
    text-align: center;
    margin-top: 15px;
}
.section2 h4{
    text-align: center;
    margin-top: 5px;
    padding-bottom: 30px;
}
.section3{
    margin-top: 80px;
}
.header2{
    width: 80%;
    margin-left: 10px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-top: 70px;
}
.header2 button{
    height: 70px;
    width: 180px;
    background-color: #3fa603;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.Products{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,auto));
    width: 80%;
    margin-left: 10%;
}
.Products div{
    width: 95%;
    margin-top: 30px;
    box-shadow: 1px 2px 11px 4px rgb(14 55 54 /15%);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}
.Products img{
    width: 70%;
    margin-left: 15%;
}
.Products h4 {
    margin-left: 20px;

}
.Products h2 {
    color: rgb(0, 78, 7);
    margin-left: 20px;
    margin-top: 20px;
}
.Products h3 {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 22px;
}
.Products h3 span{
    color: #FF8000;
}
.Products .fa-cart-shopping{
    position: absolute;
    right: 0px;
    bottom: 0;
    background-color: #3fa603;
    color: white;
    padding: 10px;
    border-radius: 10px 0 10px 0;
}
.Products .fa-cart-shopping:hover{
    background-color: #FF8000;
    transition: all 0.1s;
}
.Products .fa-heart{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    color: #FF8000;
}
.Products .offer{
    position: absolute;
    top: 15px;
    left: 0px;
    padding: 4px 10px;
    width: 50px;
    background-color: #FF8000;
    color: white;
    font-weight: 700;
    clip-path: polygon(100% 0, 82% 51%, 100% 100%, 0% 100%, 0 50%, 0% 0%);
}
.about{
    display: flex;
    align-items: center;
    margin-top: 300px;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    gap: 20px;
}
.img{
    width: 47%;
}
.img img{
    width: 100%;
    border-radius: 10px;
    -webkit-user-drag: none;
}

.content3{
    flex: 1;
    width: 50%;
}
.content3 h2{
    font-size: 25px;
    line-height: 40px;
    margin-top: 30px;
}
.content3 h1{
    color: #FF8000;
    font-size: 60px;
    margin: 10px 0;
}
.contacts{
    background-color: #ffeddb;
    margin-top: 200px;
    padding-top: 50px;
}
.contects2{
    display: flex;
    justify-content: space-around;
}
.logo2{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.logo2 h3{
    color: #2c5539;
    font-size: 30px;
    text-decoration: none;
}
.social .fa-brands{
    font-size: 30px;
    color: #ffffff;
    background-color: #3fa603;
    border-radius: 30px;
    text-align: center;
    width: 50px;
    padding: 10px 0;
    margin: 5px;
}
.social .fa-brands:hover{
    color: #3fa603;
    background-color: rgb(255, 255, 255);
    transition: all 0.1s ease;
}

.contacts .rights{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 20px;
}